

*/


QtProject.conf
mimeapps.list
pavucontrol.ini
style.css
zoom.conf
zoomus.conf
user-dirs.dirs
user-dirs.locale

!kitty/
!kitty/*

!ranger/
!ranger/*

!waybar/
!waybar/*

!fish/
!fish/*

!fastfetch/
!fastfetch/*

!nvim/
!nvim/**

!themes/
!themes/*

!sway/
!sway/*

!tofi/
!tofi/*

!btop/
!btop/*

!clapboard/
!clapboard/*

!foot/
!foot/*


!.gitignore


